# What is a database? Differentiate between sql and nosql databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
differences----
Type – 
SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 
Language-
SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system. 
A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. Also each document can have its own unique structure. The syntax varies from database to database, and you can add fields as you go. 
Scalability – 
In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.
Structure – 
SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. 
Property followed – 
SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 
Support – 
Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments but for some NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments.

# What is DDL? Explain why CREATE, DROP, ALTER and TRUNCATE are used with an example

Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases. Creating a schema.
CREATE--SQL CREATE command is a type of DDL Command and is among the commands which is primarily used for creating databases and tables. The CREATE command has a particular syntax which needs to be followed In order to create databases or tables with desired structure.
syntax-CREATE DATABASE DATABASE_NAME
DROP--The DROP command in SQL is used to drop entities such as databases, tables, columns, indexes, constraints, etc. When an entity is dropped, all its related information (data and metadata) will be deleted. For example, all related information, such as data, index, constraints, etc., will be deleted when a table is dropped.
syntax-DROP DATABASE <database name>
    DROP TABLE <table_name>
ALTER--The ALTER command in SQL is used to make changes to a table, view, or the entire database. We can add, modify, and drop constraints, columns, and indexes using the ALTER command in SQL. 
Suppose you have a table named "employees" in your database, and you want to add a new column called "department" to this table. You can do this by running the following command in your SQL client:

ALTER TABLE employees ADD COLUMN department VARCHAR(50);
In this command, the ALTER TABLE clause specifies that you want to modify the "employees" table, and the ADD COLUMN clause indicates that you want to add a new column to the table. The department argument specifies the name of the new column, and VARCHAR(50) specifies the data type and maximum length of the column.

After running this command, a new column called "department" will have been added to the "employees" table. You can then use the UPDATE command to populate this new column with data for each employee.

Note that there are many other modifications that can be made using the ALTER command, such as renaming a table or column, adding or removing constraints, and changing the data type of a column. The exact syntax of the ALTER command will depend on the specific modification that you want to make.
    
TRUNCATE--In SQL, the TRUNCATE command is used to delete all the rows from a table quickly, without logging the individual row deletions. This can be much faster than using the DELETE command to remove all the rows from a table because it doesn't generate as much database overhead.

Here's an example of how to use the TRUNCATE command in SQL:

Suppose you have a table named "mytable" in your database, and you want to delete all the rows from this table quickly without logging the individual deletions. You can do this by running the following command in your SQL client:

TRUNCATE TABLE mytable;
In this command, the TRUNCATE TABLE clause specifies that you want to truncate the table, and the mytable argument specifies the name of the table that you want to truncate.

After running this command, all the rows in the "mytable" table will have been deleted. Note that the TRUNCATE command does not remove the table itself, just the data in the table. Also, it is important to note that the TRUNCATE command cannot be rolled back, so use it with caution.

# What is dml? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a subset of SQL used to modify data stored in a database. DML commands include INSERT, UPDATE, and DELETE.

Here's an explanation of each command with an example:

INSERT: This command is used to add new rows to a table. Here's an example:
Suppose you have a table named "employees" with columns "id", "name", and "salary", and you want to add a new employee to the table. You can do this by running the following command:


INSERT INTO employees (id, name, salary) VALUES (1, 'John Smith', 50000);
In this command, the INSERT INTO clause specifies the name of the table that you want to add data to, and the (id, name, salary) clause specifies the names of the columns that you want to insert data into. The VALUES clause specifies the actual data that you want to insert into the table.

UPDATE: This command is used to modify existing rows in a table. Here's an example:
Suppose you want to give John Smith a raise to $60,000 per year. You can do this by running the following command:

UPDATE employees SET salary = 60000 WHERE name = 'John Smith';
In this command, the UPDATE clause specifies the name of the table that you want to update. The SET clause specifies the column that you want to update and the new value that you want to set it to. The WHERE clause specifies the condition that must be met for the update to be applied, in this case that the name of the employee must be "John Smith".

DELETE: This command is used to remove rows from a table. Here's an example:
Suppose John Smith decides to leave the company, and you need to remove his record from the "employees" table. You can do this by running the following command:


DELETE FROM employees WHERE name = 'John Smith';
In this command, the DELETE FROM clause specifies the name of the table that you want to delete rows from. The WHERE clause specifies the condition that must be met for the row to be deleted, in this case that the name of the employee must be "John Smith". After running this command, John Smith's record will have been removed from the "employees" table.

# What is DQL? explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands, such as SELECT, are used to retrieve data from a database.

SELECT is one of the most commonly used DQL commands, and it is used to retrieve data from one or more tables in a database. The basic syntax for SELECT is as follows:

SELECT column1, column2, ..., columnN
FROM table_name;
Here, "column1" through "columnN" are the names of the columns in the table that you want to retrieve data from. If you want to retrieve data from all columns in the table, you can use the "*" wildcard instead of column names.

For example, suppose you have a table called "customers" with the following columns: "id", "name", "email", and "phone". To retrieve all data from this table, you can use the following SELECT statement:

SELECT * FROM customers;
This will return all rows and columns from the "customers" table.

If you want to retrieve specific columns from the "customers" table, you can specify them in the SELECT statement like this:

SELECT name, email FROM customers;
This will return only the "name" and "email" columns from the "customers" table.

# Explain primary key and foreign key.

Primary key and foreign key are two important concepts in relational databases that are used to establish relationships between tables.

A primary key is a column or a combination of columns in a table that uniquely identifies each row or record in the table. The primary key is used to enforce data integrity and ensure that each row in the table is unique. It is also used as a reference in other tables to establish relationships.

For example, in a table of customers, the primary key might be the "customer_id" column. Each row in the table would have a unique customer_id, which would serve as a reference for other tables that have a relationship with the customers table.

A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables. The foreign key is used to ensure that the data between the two tables is consistent and to maintain data integrity.

For example, suppose you have two tables: "customers" and "orders". The customers table has a primary key of "customer_id", and the orders table has a foreign key of "customer_id" that refers to the primary key of the customers table. This establishes a relationship between the two tables, where each order is associated with a specific customer in the customers table.

In summary, a primary key is used to uniquely identify each row in a table, while a foreign key is used to establish a relationship between two tables by referring to the primary key of another table.

# Write a python code to connect MySQL to python.Explain the cursor() and execute() method


Sure, here's an example Python code to connect to MySQL database and execute a SQL query using cursor() and execute() methods:

import mysql.connector

# establish database connection
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# create cursor object to execute SQL queries
mycursor = mydb.cursor()

# execute SQL query
mycursor.execute("SELECT * FROM tablename")

# fetch results of executed query
myresult = mycursor.fetchall()

# print results
for x in myresult:
  print(x)
  
Explanation:

We first import the mysql.connector module to use its methods to connect to the database.
We use the connect() method to establish a connection to the MySQL server. We pass in the required parameters such as the host name, username, password, and database name.
We create a cursor object using cursor() method. This method returns a new cursor object which can be used to execute SQL queries and fetch results.
We use the execute() method on the cursor object to execute the SQL query passed as an argument to the method.
We use the fetchall() method to retrieve all the rows of the result set returned by the SQL query.
Finally, we print the results using a for loop.
The cursor() method creates a new cursor object that can execute SQL queries and fetch results. Cursors are used to manage the context of a database session, such as the current state of the result set and the current transaction state. The cursor is created on the database connection, and can be used to execute any SQL statement.

The execute() method is used to execute SQL statements. It takes an SQL query as a parameter, and returns None. The method can be used to execute any SQL statement, including SELECT, INSERT, UPDATE, and DELETE. The method returns the number of rows affected by the SQL statement.

In the example code above, we used the execute() method to execute a SELECT statement and the fetchall() method to retrieve all the rows of the result set.

# Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: The FROM clause is executed first in an SQL query. It specifies the table(s) from which the data is to be retrieved.

WHERE clause: The WHERE clause is executed after the FROM clause. It is used to filter the data retrieved from the specified table(s), based on one or more conditions.

GROUP BY clause: The GROUP BY clause is executed after the WHERE clause. It is used to group the data retrieved from the specified table(s) based on one or more columns.

HAVING clause: The HAVING clause is executed after the GROUP BY clause. It is used to filter the data retrieved from the specified table(s), based on one or more conditions that are applied to the groups created by the GROUP BY clause.

SELECT clause: The SELECT clause is executed after the HAVING clause. It is used to specify the columns that are to be included in the result set.

ORDER BY clause: The ORDER BY clause is executed after the SELECT clause. It is used to sort the result set based on one or more columns, in ascending or descending order.

LIMIT clause: The LIMIT clause is executed last in an SQL query. It is used to limit the number of rows returned by the query.

Note that some SQL statements may not include all of these clauses, or may include them in a different order depending on the specific requirements of the query. However, this is the general order in which the clauses are executed in a typical SQL query.